# Variáveis de Ambiente para o Easypanel (Backend)

# Configurações de Ambiente
NODE_ENV=production
PORT=3003

# Banco de Dados (PostgreSQL)
# O código usará automaticamente: falajaao_postgres-falaja-bd
# Se precisar forçar outro host, defina DB_HOST aqui
DB_PORT=5432
DB_USER=seu_usuario_postgres
DB_PASS=sua_senha_postgres
DB_NAME=seu_nome_db

# Segurança
JWT_SECRET=gere_uma_chave_aleatoria_longa_aqui

# Integrações (Webhooks default)
N8N_TRANSCRIPTION_WEBHOOK=https://falajaao-n8n-falaja.11ynya.easypanel.host/webhook-test/transcricao
WEBHOOK_CADASTRO=https://falajaao-n8n-falaja.11ynya.easypanel.host/webhook-test/cadastro
PAYMENT_WEBHOOK_URL=https://falajaao-n8n-falaja.11ynya.easypanel.host/webhook-test/pagamento
NOTIFY_USER_WEBHOOK=https://falajaao-n8n-falaja.11ynya.easypanel.host/webhook-test/notificar_user
